/* node_modules/react-calendar/dist/Calendar.css */
.react-calendar {
  background: white;
  border-radius: 24px;
  padding: 26px 44px;
}
.react-calendar * {
  text-decoration: none !important;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: 700;
}

.react-calendar__tile {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2a3551;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
}

.react-calendar__tile--active {
  border: 1px solid !important ;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #d4d7dc;
}
.react-calendar__month-view__weekdays__weekday {
  color: #aaaeb9;
  font-size: 12px;
  font-weight: 500;
}
